<div class="container center">
  <div class="row">
      <div class="output">{{output ? output : '0'}}</div>
  </div>
  <div class="calc">
    <div class="row">
      <button class="num" (click)="output = concat(output, '1')">1</button><button class="num" (click)="output = concat(output, '2')">2</button
      ><button class="num" (click)="output = concat(output, '3')">3</button><button class="operator" (click)="output = concat(output, ' * ')">*</button>
    </div>
    <div class="row">
      <button class="num" (click)="output = concat(output, '4')">4</button><button class="num" (click)="output = concat(output, '5')">5</button
      ><button class="num" (click)="output = concat(output, '6')">6</button><button class="operator" (click)="output = concat(output, ' + ')">+</button>
    </div>
    <div class="row">
      <button class="num" (click)="output = concat(output, '7')">7</button><button class="num" (click)="output = concat(output, '8')">8</button
      ><button class="num" (click)="output = concat(output, '9')">9</button><button class="operator" (click)="output = concat(output, ' - ')">-</button>
    </div>
    <div class="row">
      <button class="reset" (click)="clear()">C</button>
       <button class="num" (click)="output = concat(output, '0')">0</button>
       <button class="equal" (click)="calculate(output)">=</button>
      <button class="operator" (click)="output = concat(output, ' / ')">/</button>
    </div>
  </div>
</div>